:root {
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --ring: 221.2 83.2% 53.3%;
  --surface: 0 0% 96.1%;
  --surface-foreground: 0 0% 45.1%;
  --surface-hover: 0 0% 90.2%;
  --tooltip: 0 0% 12.2%;
  --tooltip-foreground: 0 0% 100%;
  --switch-bg: 0 0% 86.7%;
  --ring-success: 142.1 76.2% 36.3%;
  --ring-warning: 38 92% 50%;
}

.dark {
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --ring: 224.3 76.3% 48%;
  --surface: 216 28.3% 8.2%;
  --surface-foreground: 215 20.2% 65.1%;
  --surface-hover: 217.2 32.6% 13.5%;
  --tooltip: 0 0% 93%;
  --tooltip-foreground: 0 0% 12.2%;
  --switch-bg: 217.2 32.6% 17.5%;
  --ring-success: 142.1 70.6% 45.3%;
  --ring-warning: 48 96% 50%;
}
